input,
select {
  width: 100%;
  border: 1px solid #ccc;
  height: 45px;
  margin: 15px 0;
  cursor: pointer;
  border-radius: 4px;
}
label {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 30px;
  background-color: #262222;
  color: white;
  padding: 10px;
  padding-left: 25px;
  margin: 0 0 25px 0;
}
